buildozer==0.39
certifi==2019.6.16
chardet==3.0.4
Django==2.2.13
django-filter==2.1.0
django-oauth-toolkit==1.2.0
djangorestframework==3.9.1
gunicorn==19.9.0
idna==2.8
Markdown==3.0.1
oauthlib==3.0.1
pexpect==4.7.0
psycopg2==2.7.7
ptyprocess==0.6.0
pytz==2018.9
requests==2.22.0
sh==1.12.14
urllib3==1.25.3
virtualenv==16.6.0
